*{
box-sizing: border-box;
height: 200vh;
width: 200vw;
margin: 0;
padding: 0;
}

.pai{
background-color: blue;
height: 750px;
width: 750px;
}

.filho{
background-color: brown;
height: 250px;
width: 250px;

}

.oq{
    background-color: greenyellow;
    height: 150px;
    width: 150px;
    
}



